@model BuffetAuxiliaryLib.DTOs.UserDTO

@{
    ViewData["Title"] = "ShowUserProfile";
}

<h1>ShowUserProfile</h1>

<div>
    <h4>UserDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ChangeUserProfile">Change profile info</a> 
    <br/>
    <a asp-action="ChangePassword">Change password</a>
</div>
